body {
  font-family: 'Gentium Basic', serif;
}
h1 {
  text-align: center;
}
#horseBoard {
  display: inline-block;
  padding: 0 400px 1px 450px;
  float: left;
}
h2 {
  text-align: center;
}


#horse1 {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: white;
  font-size: 21px;
  background: #3498db;
  padding: 30px 45px 10px 19px;
  text-decoration: none;
  background-color: blue;
}
#horse1:hover {
  background: grey;
}
#horse2 {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: white;
  font-size: 21px;
  background: #3498db;
  padding: 30px 45px 10px 19px;
  text-decoration: none;
  background-color: red;
}
#horse2:hover {
  background: grey;
}
#horse3 {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: white;
  font-size: 21px;
  background: #3498db;
  padding: 30px 45px 10px 19px;
  text-decoration: none;
  background-color: orange;
}
#horse3:hover {
  background: grey;
}
#horse4 {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: white;
  font-size: 21px;
  background: #3498db;
  padding: 30px 45px 10px 19px;
  text-decoration: none;
  background-color: green;
}
#horse4:hover {
  background: grey;
}
#horse5 {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: white;
  font-size: 21px;
  background: #3498db;
  padding: 30px 40px 10px 19px;
  text-decoration: none;
  background-color: purple;
}
#horse5:hover {
  background: grey;
}
#buttons {
  display: inline-block;
  padding: 0 400px 0 620px;
}
#race {
  margin: 0 100px 0 100px;
}
#betamount {
  float: left;
  margin-left: 565px;
  margin-bottom: 15px;
  margin-top: 0px
}
#bet {
  float: right;
  margin-right: 565px;
  margin-top: 0px;
  height: 16px;
}
#result {
  text-align: center;
  font-size: 50px;
}
#ad1 {
  width: 400px;
  margin-right: 50px;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  color: white;
}
#ad2 {
  border-style: solid;
  border-width: 3px;
  border-color: white;
  width: 200px
  margin-left: 50px;
  color: white;
}
#ad3 {
  float: right;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  color: white;
}
#buttons {
  padding-top: 0px;
  margin-top: 0px;
}
.block {
  display: inline-block;
}
h3 {
  display: inline-block;
}
#result {
  text-align: center;
}
