body {
  font-family: 'Cormorant Garamond', serif;
}
h1 {
  text-align: center;
  height: 170px;
  margin: 0;
}
#horseBoard {
  display: inline-block;
  padding: 0 400px 1px 450px;
  float: left;
}
h2 {
  text-align: center;
}

#horseBoard button {
  -webkit-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: white;
  font-size: 21px;
  background: #3498db;
  padding: 10px 45px 10px 19px;
  text-decoration: none;
  background: blue;
}

#horseBoard button:nth-child(2) {
    top: 40px;
    background: red;
}
#horseBoard button:nth-child(3) {
    background: orange;
    top: 80px;
}
#horseBoard button:nth-child(4) {
    background: green;
    top: 120px;
}
#horseBoard button:nth-child(5) {
    background: purple;
    top: 160px;
}

#horseBoard button:hover {
  background: grey;
}

#buttons {
  display: inline-block;
  padding: 0 400px 0 620px;
}
#race {
  margin: 0 100px 0 100px;
}
#betamount {
  float: left;
  margin-left: 565px;
  margin-bottom: 15px;
  margin-top: 0px
}
#bet {
  float: right;
  margin-right: 565px;
  margin-top: 0px;
  height: 16px;
}
#result {
  text-align: center;
  font-size: 50px;
}
#ad1 {
  width: 400px;
  margin-right: 50px;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  color: white;
}
#ad2 {
  border-style: solid;
  border-width: 3px;
  border-color: white;
  width: 200px
  margin-left: 50px;
  color: white;
  float: right;
}
#ad3 {
  float: left;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  color: white;
  font-size: 20px;
}
#buttons {
  padding-top: 0px;
  margin-top: 0px;
}
.block {
  display: inline-block;
}
#result {
  text-align: center;
  color: #99ff99;
  position: relative;
}

#myContainer {
    width: 1400px;
    height: 220px;
    position: absolute;
    background: green;
}
#Harambe {
  width: 280px;
}
#MickyGinger {
  width: 220px;
}
#balance {
  margin-top: 100px;
}

.class {
  height: 30px;
  width: 30px;
}

.horse {
    width: 30px;
    height: 30px;
    position: absolute;
    background: blue;
}
.horse:nth-child(2) {
    top: 40px;
    background: red;
}
.horse:nth-child(3) {
    background: orange;
    top: 80px;
}
.horse:nth-child(4) {
    background: white;
    top: 120px;
}
.horse:nth-child(5) {
    background: purple;
    top: 160px;
}
